#container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 8px;
}

.calculator-container {
background-color: #A0A0A0;
padding: 15px;
border: 2px solid black;
border-radius: 10px;
}

.display {
    background-color: #FFF275;
    min-width: 238px;
    text-align: right;
    padding: 10px;
    border: 4px solid black;
    border-radius: 4px;
}

.buttons-container {
    display: flex;
    gap: 4px;
}

.number-buttons {
    flex-direction: column;
    flex-wrap: wrap;
}

.operator-buttons {
    display: flex;
    flex-wrap: wrap;
    max-width: 104px;
}

.number, .operator, .result {
    font-weight: 200;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 4px;
}

.result {
    width: 104px;
}

button {
    width: 50px;
    height: 50px;
    background-color: #F18F01;
}

.selected {
    background-color: #c57702;
}